@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
:root {
  --White: #FFF;
  --Gray-200: #EFF1F5;
  --Gray-300: #DCDFEA;
  --Gray-400: #B9C0D4;
  --Gray-700: #4A5578;
  --Gray-900: #181F35;
  --Main-Blue-200: #E5F1FF;
  --Main-Blue-300: #C6E1FF;
  --Main-Blue-500: #63AEFF;
  --Main-Blue-600: #077DFD;
  --Main-Blue-700: #0E44B0;
  --Main-Blue-800: #10335F;
  --Main-Blue-900: #031D3D;
  --Other-Green-1-300: #ECFBC3;
  --Secondary-Yellow-400: #FFF6B4;
  --Secondary-Turquoise-300: #DCF6FF;
  --Secondary-Turquoise-400: #AAE9FF;
  --Other-Green-1-400: #CBE389;
  --Secondary-Terracotta-500: #FB936F;
  --Small: 12px;
  --Large: 32px;
  --Large-BG: 60px;
  --Middle: 24px;
  --Extra-large: 200px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "League Spartan", sans-serif;
  color: var(--White);
  font-size: 16px;
  line-height: normal;
}

button,
input {
  cursor: pointer;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  transition: all 0.3s ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-writing__faq {
  padding: 130px 0px 120px 0px;
}
@media (max-width: 1280.98px) {
  .content-writing__faq {
    padding: 140px 0px;
  }
}
@media (max-width: 767.98px) {
  .content-writing__faq {
    padding: 100px 0px 80px 0px;
  }
}
.content-writing__logos {
  padding-bottom: 130px;
}
@media (max-width: 1280.98px) {
  .content-writing__logos {
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .content-writing__logos {
    padding-bottom: 50px;
  }
}

/*******hero Section*********/
.hero {
  margin: 40px 0px 92px 0px;
  background: var(--Main-Blue-900);
}
@media (max-width: 1280.98px) {
  .hero {
    margin: 20px 0px 80px 0px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    margin: 24px 0px 50px 0px;
  }
}
.hero__content {
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 21px;
  max-height: -moz-max-content;
  max-height: max-content;
  justify-content: space-between;
  border-radius: 60px;
  background-color: var(--Main-Blue-800);
}
@media (max-width: 1280.98px) {
  .hero__content {
    gap: 24px;
    flex-direction: column-reverse;
    padding: 0px 60px 60px 60px;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    border-radius: var(--Middle);
    padding: 0px 20px 24px 20px;
  }
}
.hero__left {
  flex: 0 1 44.5%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: calc(40px + 70 * (100vw - 1280.98px) / 639.02);
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 1280.98px) {
  .hero__left {
    padding: 0;
  }
}
.hero__right {
  flex: 0 1 53.9%;
  align-items: stretch;
}
@media (min-width: 1280.98px) {
  .hero__right {
    padding-right: 0.363px;
  }
}

.hero-left__title {
  color: var(--White);
  font-size: 82px;
  line-height: 108%;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767.98px) {
  .hero-left__title {
    font-size: 30px;
    line-height: 128%;
  }
}
.hero-left__text {
  color: var(--Gray-200);
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 80px;
}
@media (max-width: 1280.98px) {
  .hero-left__text {
    margin-bottom: 98.92px;
  }
}
@media (max-width: 767.98px) {
  .hero-left__text {
    margin-bottom: 60px;
  }
}
.hero-left__buttons {
  display: flex;
  gap: 24px;
}
@media (min-width: 767.98px) {
  .hero-left__buttons {
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .hero-left__buttons {
    flex-direction: column;
    width: 100%;
  }
}
.hero-right__video {
  display: block;
  max-width: 100%;
  aspect-ratio: 888/664;
}
@media (max-width: 1280.98px) {
  .hero-right__video {
    height: auto;
    aspect-ratio: 764/570;
  }
}

/*******What We Offer*********/
.what-we-offer {
  padding-top: 140px;
  padding-bottom: 129px;
  border-radius: 60px;
  background-color: var(--White);
  background-image: url("./assets/images/content_writing/what-we-offer-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
}
@media (max-width: 1280.98px) {
  .what-we-offer {
    padding-bottom: 89.5px;
    background-image: url("./assets/images/content_writing/what-we-offer-bg-tablet.png");
  }
}
@media (max-width: 767.98px) {
  .what-we-offer {
    padding-top: 80px;
    padding-bottom: 28px;
    border-radius: var(--Large);
    background-image: url("./assets/images/content_writing/what-we-offer-bg-mobile.png");
  }
}
@media (max-width: 767.98px) {
  .what-we-offer__container {
    padding: 0px 20px !important;
  }
}
.what-we-offer__content {
  display: flex;
  gap: 93px;
}
@media (max-width: 1280.98px) {
  .what-we-offer__content {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .what-we-offer__content {
    gap: 60px;
  }
}
.what-we-offer__left {
  height: -moz-fit-content;
  height: fit-content;
  flex: 0 1 36.52439%;
  top: 0;
  align-self: flex-start;
  /* 599/1640 */
}
@media (min-width: 1280.98px) {
  .what-we-offer__left {
    position: sticky;
    padding-top: 140px;
  }
}
.what-we-offer__label {
  margin-bottom: 14px;
}
.what-we-offer__title {
  color: var(--Gray-900);
  font-size: 82px;
  font-weight: 700;
  line-height: 108%;
  margin-bottom: 14px;
}
@media (max-width: 767.98px) {
  .what-we-offer__title {
    font-size: 48px;
    line-height: 118%;
  }
}
.what-we-offer__text {
  color: var(--Gray-700);
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
}
@media (max-width: 1280.98px) {
  .what-we-offer__text {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .what-we-offer__text {
    margin-bottom: 32px;
  }
}
.what-we-offer__buttons {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .what-we-offer__buttons {
    height: 52px;
  }
}
.what-we-offer__button-wrapper {
  width: 221px;
}
@media (max-width: 767.98px) {
  .what-we-offer__button-wrapper {
    width: 100%;
    height: 52px !important;
  }
}
@media (max-width: 767.98px) {
  .what-we-offer__button {
    height: 52px !important;
    padding: 10px 8px !important;
  }
  .what-we-offer__button:active {
    padding: 8px 6px !important;
    height: 48px !important;
  }
}
.what-we-offer__right {
  flex: 0 1 57.743902%;
  /* 947/1640 */
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1280.98px) {
  .what-we-offer__right {
    gap: 24px;
  }
}

.offer-card {
  border-radius: var(--Large);
  background: var(--Main-Blue-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .offer-card {
    padding-top: 24px;
  }
}
.offer-card__source {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .offer-card__source {
    aspect-ratio: 337/178.2 !important;
  }
}
.offer-card__source-video {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -1px;
}
@media (max-width: 767.98px) {
  .offer-card__source-video {
    aspect-ratio: 337/178.2 !important;
  }
}
.offer-card__content {
  display: flex;
  padding: 24px 60px 60px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}
@media (max-width: 767.98px) {
  .offer-card__content {
    padding: 24px 20px;
    flex-direction: column;
  }
}
.offer-card__title {
  color: var(--Gray-900);
  font-size: 60px;
  font-weight: 700;
  line-height: 116%;
}
@media (max-width: 767.98px) {
  .offer-card__title {
    font-size: 30px;
    line-height: 128%;
    /* 38.4px */
  }
}
.offer-card__text {
  color: var(--Gray-700);
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 767.98px) {
  .offer-card__text {
    font-size: 19px;
    line-height: 140%;
  }
}
.offer-card__texts {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

@media (min-width: 767.98px) {
  .offer-card-1 .offer-card__source {
    aspect-ratio: 947/500.76;
  }
}
@media (min-width: 767.98px) and (max-width: 1280.98px) {
  .offer-card-1 .offer-card__source {
    aspect-ratio: 884/467.45;
  }
}

@media (min-width: 767.98px) {
  .offer-card-2 .offer-card__source {
    aspect-ratio: 934/493;
  }
}
@media (min-width: 767.98px) and (max-width: 1280.98px) {
  .offer-card-2 .offer-card__source {
    aspect-ratio: 884/466.61;
  }
}

@media (min-width: 767.98px) {
  .offer-card-3 .offer-card__source {
    aspect-ratio: 934/493;
  }
}
@media (min-width: 767.98px) and (max-width: 1280.98px) {
  .offer-card-3 .offer-card__source {
    aspect-ratio: 884/466.61;
  }
}

/************************/
.who-we-are {
  padding-top: 110px;
}
@media (max-width: 1280.98px) {
  .who-we-are {
    padding-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .who-we-are {
    padding-top: 80px;
  }
}
.who-we-are__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.who-we-are__label {
  margin-bottom: 14px;
}
.who-we-are__title {
  color: var(--White);
  text-align: center;
  font-size: 82px;
  font-weight: 700;
  line-height: 108%;
  /* 88.56px */
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .who-we-are__title {
    font-size: 30px;
    line-height: 128%;
    /* 38.4px */
  }
}
.who-we-are__numbers {
  display: flex;
  align-items: center;
  gap: 98.5px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0px auto;
}
@media (max-width: 767.98px) {
  .who-we-are__numbers {
    flex-direction: column;
    gap: 40px;
  }
}

.who-we-are-numbers-number {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.who-we-are-numbers-number__title {
  color: var(--Main-Blue-500);
  font-size: 48px;
  font-weight: 700;
  line-height: 118%;
}
.who-we-are-numbers-number__text {
  color: var(--White);
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
}

.who-we-are__video {
  margin-top: 36px;
  aspect-ratio: 1640/535;
  border-radius: 60px;
  overflow: hidden;
}
@media (max-width: 1280.98px) {
  .who-we-are__video {
    aspect-ratio: 884/329;
    border-radius: var(--Large);
  }
}
@media (max-width: 767.98px) {
  .who-we-are__video {
    border-radius: var(--Small);
    aspect-ratio: 343/187;
  }
}
.who-we-are__video-source {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-writing__decor {
  margin-top: 110px;
  max-width: 100dvw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.content-writing__decor img {
  padding-left: 2px;
}
@media (max-width: 1280.98px) {
  .content-writing__decor {
    margin-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .content-writing__decor {
    margin-top: 80px;
  }
}

/**************************/
.logos__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
@media (min-width: 1280.98px) {
  .logos__container {
    padding: 0px !important;
    max-width: 100% !important;
  }
}
@media (max-width: 767.98px) {
  .logos__container {
    gap: 14px;
  }
}

.logos__line {
  overflow: hidden;
  height: 48px;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .logos__line {
    height: 36px;
  }
}

.logos__track {
  display: flex;
  height: 100%;
  gap: 80px;
  animation: marquee 20s linear infinite;
}
@media (max-width: 1280.98px) {
  .logos__track {
    animation-duration: 15s;
  }
}
@media (max-width: 991.98px) {
  .logos__track {
    animation-duration: 12s;
  }
}
@media (max-width: 767.98px) {
  .logos__track {
    animation-duration: 9s;
    gap: 59.32px;
  }
}

.logos__item-your {
  color: var(--Main-Blue-900);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  border-radius: 200px;
  background: var(--Main-Blue-200);
  padding: 16px 24px 14px 24px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.98px) {
  .logos__item-your {
    padding: 11.863px 17.795px 10.38px 17.795px !important;
    border-radius: 148.293px;
    font-size: 14.829px;
  }
}

.logos__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
@media (max-width: 767.98px) {
  .logos__item {
    padding: 5px 0px;
  }
}
@media (max-width: 767.98px) {
  .logos__item img {
    max-height: 25px;
    width: auto;
  }
}

.logos__item img:hover {
  opacity: 1;
  filter: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */