@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

:root {
    --White: #FFF;
    --Gray-200: #EFF1F5;
    --Gray-300: #DCDFEA;
    --Gray-500: #7F88A2;
    --Gray-400: #B9C0D4;
    --Gray-700: #4A5578;
    --Gray-900: #181F35;


    --Main-Blue-100: #F6FAFF;
    --Main-Blue-200: #E5F1FF;
    --Main-Blue-300: #C6E1FF;
    --Main-Blue-500: #63AEFF;
    --Main-Blue-600: #077DFD;
    --Main-Blue-700: #0E44B0;
    --Main-Blue-800: #10335F;
    --Main-Blue-900: #031D3D;

    --Other-Green-2-700: #16B364;
    --Other-Green-1-300: #ECFBC3;
    --Secondary-Yellow-400: #FFF6B4;
    --Secondary-Turquoise-300: #DCF6FF;
    --Secondary-Turquoise-400: #AAE9FF;
    --Other-Green-1-400: #CBE389;
    --Secondary-Terracotta-500: #FB936F;

    --Small: 12px;
    --Large: 32px;
    --Large-BG: 60px;
    --Middle: 24px;
    --Extra-large: 200px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'League Spartan', sans-serif;
    color: var(--White);
    font-size: 16px;
    line-height: normal;
}

button,
input {
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
    transition: all .3s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
}



.content-writing {

    // .content-writing__faq
    &__faq {
        padding: 130px 0px 120px 0px;

        @media (max-width: 1280.98px) {
            padding: 140px 0px;
        }

        @media (max-width: 767.98px) {
            padding: 100px 0px 80px 0px;
        }
    }

    &__logos {
        padding-bottom: 130px;

        @media (max-width: 1280.98px) {
            padding-bottom: 80px;
        }

        @media (max-width: 767.98px) {
            padding-bottom: 50px;
        }
    }
}



/*******hero Section*********/

main.is-ios {
    .hero__content {
        background: #0e3a6a !important;
    }
}
main {
    .hero__content {
        background-color: var(--Main-Blue-800);
    }
}
.hero {
    margin: 40px 0px 92px 0px;
    background: var(--Main-Blue-900);

    // .hero__container
    @media (max-width: 1280.98px) {
        margin: 20px 0px 80px 0px;
    }

    @media (max-width: 767.98px) {
        margin: 24px 0px 50px 0px;
    }

    &__container {}

    // .hero__content
    &__content {
        overflow: hidden;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: 21px;
        max-height: max-content;
        justify-content: space-between;
        border-radius: 60px;
        background-color: var(--Main-Blue-800);
        @media (max-width: 1280.98px) {
            gap: 24px;
            flex-direction: column-reverse;
            padding: 0px 60px 60px 60px;
        }

        @media (max-width: 767.98px) {
            border-radius: var(--Middle);
            padding: 0px 20px 24px 20px;
        }
    }

    // .hero__left

    &__left {
        flex: 0 1 44.5%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: calc(40px + 70 * (100vw - 1280.98px) / (1920 - 1280.98));
        display: flex;
        flex-direction: column;
        align-items: start;

        @media (max-width: 1280.98px) {
            padding: 0;
        }
    }

    // .hero__right

    &__right {
        flex: 0 1 53.9%;
        align-items: stretch;

        @media (min-width: 1280.98px) {
            padding-right: 0.363px;
        }
        
    }
}

.hero-left {

    // .hero-left__title

    &__title {
        color: var(--White);
        font-size: 82px;
        line-height: 108%;
        margin-bottom: 20px;
        font-weight: 700;

        @media (max-width: 767.98px) {
            font-size: 30px;
            line-height: 128%;
        }
    }

    // .hero-left__text

    &__text {
        color: var(--Gray-200);
        font-size: 22px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 80px;

        @media (max-width: 1280.98px) {
            margin-bottom: 98.92px;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 60px;
        }
    }

    // .hero-left__buttons

    &__buttons {
        display: flex;
        gap: 24px;

        @media (min-width: 767.98px) {
            align-items: flex-start;
        }

        @media (max-width: 767.98px) {
            flex-direction: column;
            width: 100%;
        }
    }

    // .hero-left__button-wrapper

    &__button-wrapper {}

    // .hero-left__button

    &__button {}
}

.hero-right {
    position: relative;
    // .hero-right__video

    &__video {
        display: block;
        max-width: 100%;
        aspect-ratio: 888/664;

        @media (max-width: 1280.98px) {
            height: auto;
            aspect-ratio: 764/570;
        }
        
    }
}


/*******What We Offer*********/
.what-we-offer {

    padding-top: 140px;
    padding-bottom: 129px;
    border-radius: 60px;
    background-color: var(--White);
    background-image: url("./assets/images/content_writing/what-we-offer-bg.png");
    background-position: left top;
    background-repeat: no-repeat;

    @media (max-width: 1280.98px) {
        padding-bottom: 89.5px;
        background-image: url("./assets/images/content_writing/what-we-offer-bg-tablet.png");
    }

    @media (max-width: 767.98px) {
        padding-top: 80px;
        padding-bottom: 28px;
        border-radius: var(--Large);
        background-image: url("./assets/images/content_writing/what-we-offer-bg-mobile.png");
    }

    // .what-we-offer__container

    &__container {
        @media (max-width: 767.98px) {
            padding: 0px 20px !important;
        }
    }

    // .what-we-offer__content

    &__content {
        display: flex;
        gap: 93px;

        @media (max-width: 1280.98px) {
            flex-direction: column;
        }

        @media (max-width: 767.98px) {
            gap: 60px;
        }
    }

    // .what-we-offer__left

    &__left {
        height: fit-content;
        flex: 0 1 36.52439%;
        top: 0;
        align-self: flex-start;

        /* 599/1640 */
        @media (min-width: 1280.98px) {
            position: sticky;
            padding-top: 140px;
        }
    }

    // .what-we-offer__label

    &__label {
        margin-bottom: 14px;
    }

    // .what-we-offer__title

    &__title {
        color: var(--Gray-900);
        font-size: 82px;
        font-weight: 700;
        line-height: 108%;
        margin-bottom: 14px;

        @media (max-width: 767.98px) {
            font-size: 48px;
            line-height: 118%;
        }
    }

    // .what-we-offer__text

    &__text {
        color: var(--Gray-700);
        font-family: "Nunito Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 80px;

        @media (max-width: 1280.98px) {
            margin-bottom: 60px;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 32px;
        }
    }

    // .what-we-offer__buttons

    &__buttons {
        display: flex;
        flex-direction: column;

        @media (max-width: 767.98px) {
            height: 52px;
        }
    }

    // .what-we-offer__button-wrapper

    &__button-wrapper {
        width: 221px;

        @media (max-width: 767.98px) {
            width: 100%;
            height: 52px !important;
        }
    }

    // .what-we-offer__button

    &__button {
        @media (max-width: 767.98px) {
            height: 52px !important;
            padding: 10px 8px !important;

            &:active {
                padding: 8px 6px !important;
                height: 48px !important;
            }
        }
    }

    // .what-we-offer__right

    &__right {
        flex: 0 1 57.743902%;
        /* 947/1640 */
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: 1280.98px) {
            gap: 24px;
        }
    }
}

.offer-card {
    border-radius: var(--Large);
    background: var(--Main-Blue-200);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;

    // .offer-card__source
    @media (max-width: 767.98px) {
        padding-top: 24px;
    }

    &__source {
        overflow: hidden;

        @media (max-width: 767.98px) {
            aspect-ratio: 337.00/178.20 !important;
        }
    }

    // .offer-card__source-video

    &__source-video {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        margin-top: -1px;

        @media (max-width: 767.98px) {
            aspect-ratio: 337.00/178.20 !important;
        }
    }

    // .offer-card__content
    &__content {
        display: flex;
        padding: 24px 60px 60px 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;

        @media (max-width: 767.98px) {
            padding: 24px 20px;
            flex-direction: column;
        }
    }

    // .offer-card__title

    &__title {
        color: var(--Gray-900);
        font-size: 60px;
        font-weight: 700;
        line-height: 116%;

        @media (max-width: 767.98px) {
            font-size: 30px;
            line-height: 128%;
            /* 38.4px */
        }
    }

    // .offer-card__text

    &__text {
        color: var(--Gray-700);
        font-size: 24px;
        font-weight: 400;
        line-height: 160%;

        @media (max-width: 767.98px) {
            font-size: 19px;
            line-height: 140%;
        }
    }

    // .offer-card__texts

    &__texts {
        display: flex;
        flex-direction: column;
        gap: 37px;
    }
}

.offer-card-1 {
    @media (min-width: 767.98px) {
        .offer-card__source {
            aspect-ratio: 947.00/500.76;

            @media (max-width: 1280.98px) {
                aspect-ratio: 884.00/467.45;
            }
        }
    }
}

.offer-card-2 {
    @media (min-width: 767.98px) {
        .offer-card__source {
            aspect-ratio: 934/493;

            @media (max-width: 1280.98px) {
                aspect-ratio: 884.00/466.61;
            }
        }
    }
}

.offer-card-3 {
    @media (min-width: 767.98px) {
        .offer-card__source {
            aspect-ratio: 934/493;

            @media (max-width: 1280.98px) {
                aspect-ratio: 884.00/466.61;
            }
        }
    }
}



/************************/

.who-we-are {

    // .who-we-are__container
    padding-top: 110px;

    @media (max-width: 1280.98px) {
        padding-top: 120px;
    }

    @media (max-width: 767.98px) {
        padding-top: 80px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .who-we-are__label

    &__label {
        margin-bottom: 14px;
    }

    // .who-we-are__title

    &__title {
        color: var(--White);
        text-align: center;
        font-size: 82px;
        font-weight: 700;
        line-height: 108%;
        /* 88.56px */
        margin-bottom: 40px;

        @media (max-width: 767.98px) {
            font-size: 30px;
            line-height: 128%;
            /* 38.4px */
        }
    }

    // .who-we-are__numbers

    &__numbers {
        display: flex;
        align-items: center;
        gap: 98.5px;
        max-width: fit-content;
        margin: 0px auto;

        @media (max-width: 767.98px) {
            flex-direction: column;
            gap: 40px;
        }
    }
}

.who-we-are-numbers-number {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    // .who-we-are-numbers-number__title

    &__title {
        color: var(--Main-Blue-500);
        font-size: 48px;
        font-weight: 700;
        line-height: 118%;
    }

    // .who-we-are-numbers-number__text

    &__text {
        color: var(--White);
        font-size: 22px;
        font-weight: 400;
        line-height: 140%;
    }
}

.who-we-are {

    // .who-we-are__video

    &__video {
        margin-top: 36px;
        aspect-ratio: 1640/535;
        border-radius: 60px;
        overflow: hidden;

        @media (max-width: 1280.98px) {
            aspect-ratio: 884/329;
            border-radius: var(--Large);
        }

        @media (max-width: 767.98px) {
            border-radius: var(--Small);
            aspect-ratio: 343/187;
        }
    }

    // .who-we-are__video-source

    &__video-source {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}


.content-writing__decor {
    margin-top: 110px;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
        padding-left: 2px;
    }

    @media (max-width: 1280.98px) {
        margin-top: 120px;
    }

    @media (max-width: 767.98px) {
        margin-top: 80px;
    }
}

/**************************/



.logos__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;

    @media (min-width: 1280.98px) {
        padding: 0px !important;
        max-width: 100% !important;
    }

    @media (max-width: 767.98px) {
        gap: 14px;
    }
}

.logos__line {
    overflow: hidden;
    height: 48px;
    white-space: nowrap;

    @media (max-width: 767.98px) {
        height: 36px;
    }
}

.logos__track {
    display: flex;
    height: 100%;
    gap: 80px;
    animation: marquee 20s linear infinite;

    @media (max-width: 1280.98px) {
        animation-duration: 15s;
    }

    @media (max-width: 991.98px) {
        animation-duration: 12s;
    }

    @media (max-width: 767.98px) {
        animation-duration: 9s;
        gap: 59.32px;
    }
}

.logos__item-your {
    color: var(--Main-Blue-900);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    border-radius: 200px;
    background: var(--Main-Blue-200);
    padding: 16px 24px 14px 24px;
    justify-content: center;
    align-items: center;

    @media (max-width: 767.98px) {
        padding: 11.863px 17.795px 10.38px 17.795px !important;
        border-radius: 148.293px;
        font-size: 14.829px;
    }
}

.logos__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    @media (max-width: 767.98px) {
        padding: 5px 0px;
    }

    img {
        @media (max-width: 767.98px) {
            max-height: 25px;
            width: auto;
        }
    }
}

.logos__item img:hover {
    opacity: 1;
    filter: none;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*****************************/


.pricing {
    border-radius: 60px;
    position: relative;
    z-index: 10;
    background-color: var(--White);
    padding-top: 120px;
    padding-bottom: 131px;

    background-image: url("./assets/images/content_writing/pricing-bg.png");
    background-position: right top;
    background-repeat: no-repeat;

    @media (max-width: 1280.98px) {
        padding-bottom: 77px;
        background-image: url("./assets/images/content_writing/pricing-bg-tablet.png");
    }

    @media (max-width: 767.98px) {
        padding-top: 80px;
        border-radius: var(--Middle);
        padding-bottom: 47px;
        background-image: url("./assets/images/content_writing/pricing-bg-mobile.png");
    }

    // .pricing__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1502px !important;

        @media (max-width: 1280.98px) and (min-width: 767.98px) {
            padding: 0px 40px !important;
        }
    }

    // .pricing__label

    &__label {
        margin-bottom: 14px;
    }

    // .pricing__title

    &__title {
        color: var(--Gray-900);
        text-align: center;
        font-size: 82px;
        font-weight: 700;
        line-height: 108%;
        margin-bottom: 80px;

        @media (max-width: 1280.98px) {
            margin-bottom: 40px;
        }

        @media (max-width: 767.98px) {
            font-size: 48px;
            line-height: 118%;
            /* 56.64px */
        }
    }

    // .pricing__content

    &__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 25px;
        align-self: stretch;

        @media (max-width: 1280.98px) {
            flex-direction: column;
            width: 100%;
        }
    }

    // .pricing__left

    &__left {
        flex: 0 1 69.309838%;

        /* 944/1362 */
        @media (max-width: 1280.98px) {
            flex: 0 1 100%;
            width: 100%;
        }
    }

    // .pricing__right

    &__right {
        flex: 0 1 28.781204%;

        /* 392/1362 */
        @media (max-width: 1280.98px) {
            flex: 0 1 100%;
            width: 100%;
        }
    }

    // .pricing__card

    &__card {}
}

.pricing-card {

    // .pricing-card__top

    &__top {
        border-radius: var(--Middle) var(--Middle) 0 0;
        background: var(--Main-Blue-700);
        padding: 14px 32px 40px 32px;
    }

    // .pricing-card__title

    &__title {
        color: var(--White);
        font-size: 26px;
        font-weight: 700;
        text-align: left;
        line-height: 140%;
        /* 36.4px */
    }

    // .pricing-card__bottom

    &__bottom {
        margin-top: -26px;
        padding: 48px 32px 26px 32px;
        border-radius: var(--Middle);
        background: var(--Main-Blue-600);

        @media (max-width: 1280.98px) {
            padding-right: 7px;
            padding-top: 28.5px;
            padding-left: 32px;
            padding-bottom: 0;
        }

        @media (max-width: 767.98px) {
            padding-left: 32px;
            padding-right: 6px;
            padding-top: 27.5px;
        }
    }


    // .pricing-card__result

    &__result {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    // .pricing-card__result-label

    &__result-label {}

    // .pricing-card__result-x

    &__result-x {
        color: var(--Main-Blue-400);
        font-family: "Montserrat";
        font-size: 15.647px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.pricing-card-bottom {
    @media (max-width: 1280.98px) {
        display: flex;
        gap: 124px;
        justify-content: space-between;
    }

    @media (max-width: 1023.98px) and (min-width: 767.98px) {
        display: flex;
        gap: calc(40px + 84 * (100vw - 767px) / (1023 - 767));
        justify-content: space-between;
    }

    @media (max-width: 767.98px) {
        flex-direction: column;
        gap: 54px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;

        @media (max-width: 1280.98px) {
            flex: 0 1 360px;
            margin-top: auto;
            padding-top: 74px !important;
            padding-bottom: 74px;
        }

        @media (max-width: 767.98px) {
            padding: 0px 26px 0px 0px !important;
            flex: 0 1 auto;
        }
    }

    &__labels {
        margin-bottom: 40px;

        @media (max-width: 767.98px) {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
    }

    &__labels-mobile {
        display: none !important;

        @media (max-width: 767.98px) {
            display: block;
        }
    }

    // .pricing-card-bottom__price

    &__price {
        margin-bottom: 65px;

        @media (max-width: 1280.98px) {
            margin-bottom: 26px;
        }
    }

    // .pricing-card__button

    &__button-wrapper {
        width: 100% !important;

        @media (max-width: 1280.98px) {
            max-width: 360px;
            width: 360px;
        }

        @media (max-width: 767.98px) {
            max-width: 311px;
            width: 311px;
        }

        @media (max-width: 487.98px) {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    &__button {
        width: 100% !important;

        &:active {
            width: calc(100% - 4px) !important;
        }

        @media (max-width: 1280.98px) {
            &:active {
                width: 356px !important;
            }
        }

        @media (max-width: 767.98px) {
            &:active {
                width: 305px !important;
            }
        }

        @media (max-width: 487.98px) {
            width: 100% !important;

            &:active {
                width: calc(100% - 4px) !important;
            }

        }

    }

    &__image {
        display: none;

        @media (max-width: 1280.98px) {
            display: flex;
            flex: 0 1 46.578366%;

            align-items: end;
            justify-content: end;

            /* 422/906 */
            img {
                aspect-ratio: 422/401;
                width: 100%;
                height: auto;
                max-width: 100%;
            }
        }

        @media (max-width: 767.98px) {
            aspect-ratio: 306/291;
        }

        @media (max-width: 767.98px) and (min-width: 487.98px) {
            max-width: 70%;
            margin-left: auto;
        }
    }
}

.pricing-card-price {

    // .pricing-card-price__text

    &__text {
        color: var(--Main-Blue-300);
        font-size: 22px;
        font-weight: 700;
        line-height: 140%;
        /* 30.8px */
        margin-bottom: 4px;
    }

    // .pricing-card-price__content

    &__content {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    // .pricing-card-price__value

    &__value {
        color: var(--White);
        font-size: 60px;
        font-weight: 700;
        line-height: 116%;
    }

    // .pricing-card-price__period

    &__period {
        color: var(--Main-Blue-300);
        font-size: 18px;
        margin-top: 20px;
        font-weight: 700;
        line-height: 110%;
        /* 19.8px */
    }
}


.pricing-left {
    border-radius: 20px;
    background: var(--Main-Blue-100);
    // .pricing-left__top
    padding-top: 20px;
    position: relative;

    &::after,
    &::before {
        width: 26.369px;
        content: "";
        bottom: 77px;
        height: 30.126px;
        background-color: var(--White);
        border-radius: 50%;
        z-index: 10;
        position: absolute;
        transform: translateY(50%);
    }

    &::after {
        right: -13.1845px;
    }

    &::before {
        left: -13.1845px;
    }

    &__top-wrapper {
        padding: 0px 24px;

        @media (max-width: 767.98px) {
            padding: 0px 8px;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 50px;
    }

    // .pricing-left__item

    &__item {
        position: relative;
    }

    // .pricing-left__bottom

    &__bottom {
        padding: 0px 24px;
        margin-top: 62px;
        width: 100%;
        height: 77px;
        flex-shrink: 0;
        border-radius: 0px 0px 12px 12px;
        background: var(--Main-Blue-200);
        padding-top: 16px;
        position: relative;
        text-align: right;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            background-image: url("./assets/images/content_writing/pricing-bg-bottom.png");
            width: 957px;
            height: 32px;
            background-repeat: no-repeat;
            bottom: -24px;
            left: -2.64px;
            overflow: hidden;
        }

        &::before {
            content: "";
            position: absolute;
            background-image: url("./assets/images/content_writing/pricing-bg-bottom.png");
            width: 957px;
            background-repeat: no-repeat;
            height: 32px;
            bottom: -24px;
            z-index: 10;
            left: 954.36px;
            transform: translateX(-30px);
        }

        @media (max-width: 767.98px) {
            padding-top: 23.63px;
            padding-right: 9px;
        }
    }

    &__bottom-text {
        color: var(--Main-Blue-900);
        text-align: right;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 118%;
    }

}

.pricing-left-item {

    // .pricing-left-item__header

    &__header {}

    // .pricing-left-item__slider

    &__slider {
        position: relative;
    }

    // .pricing-left-item__slider-values

    &__slider-values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        gap: 4px;
        margin-bottom: 20.86px;
    }

    // .pricing-left-item__slider-value
    &__slider-values {
        position: relative;
        height: 18px;
    }

    &__slider-values-big {
        @media (max-width: 767.98px) {
            .pricing-left-item__slider-value:nth-child(even) {
                display: none !important;
            }
        }
    }

    &__slider-value {
        color: var(--Gray-500);
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        text-align: left !important;
        transform: translateX(-50%);
        position: absolute;
    }

    // .pricing-left-item__slider-input

    &__slider-input {}

    &__slider-current {
        color: var(--Main-Blue-200);
        text-align: center;
        position: absolute;
        bottom: -41px;
        display: flex;
        transform: translateX(-50%);
        left: 0;
        border-radius: 173.854px;
        background: var(--Main-Blue-600);
        padding: 6px 10.431px 4px 10.431px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        width: max-content;

        svg {
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (max-width: 767.98px) {

        .label {
            padding: 6px 6.5px 4px 6.5px;
        }
    }
}

.pricing-left-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 20.86px;
    // .pricing-left-item-header__left

    &__left {
        display: flex;
        align-items: center;
        gap: 14px;
    }


    // .pricing-left-item-header__icon

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 36px;
        height: 36px;
        border-radius: var(--Large-BG);
        background: var(--Main-Blue-800);
    }

    // .pricing-left-item-header__title

    &__title {
        color: var(--Gray-900);
        font-size: 26px;
        font-weight: 700;
        line-height: 140%;

        @media (max-width: 767.98px) {
            font-size: 20px;
        }
    }
}

.slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

/* === Chrome / Safari / Edge (WebKit) === */
.slider-input::-webkit-slider-runnable-track {
    height: 6px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: -6px;
    /* центрируем по высоте: (track 6px - thumb 18px) / 2 = -6px */
}

/* === Firefox === */
.slider-input::-moz-range-track {
    height: 6px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
}

.slider-input::-moz-range-progress {
    height: 6px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
}

.slider-input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* === IE / Edge (старые) === */
.slider-input::-ms-track {
    width: 100%;
    height: 6px;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.slider-input::-ms-fill-lower {
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
}

.slider-input::-ms-fill-upper {
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 10px;
}

.slider-input::-ms-thumb {
    width: 18px;
    height: 18px;
    background: var(--Main-Blue-600, #077DFD);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


/***********Our Work*****************/

.our-work {

    // .our-work__wrapper
    padding: 160px 0px;

    @media (max-width: 1280.98px) {
        padding: 140px 0px 160px 0px;
    }

    @media (max-width: 767.98px) {
        padding: 100px 0px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        @media (min-width: 1536.98px) {
            padding-left: 140px;
        }

        @media (max-width: 1536.98px) {
            flex-direction: column;
            align-items: start;
        }


        @media (max-width: 767.98px) {
            gap: 40px;
        }

        @media (max-width: 537.98px) {
            padding: 0px 16px !important;
        }
    }

    // .our-work__left

    &__left {

        /* 392/1780 */
        @media (min-width: 537.98px) {
            flex: 0 1 22.022472%;

            @media (max-width: 1536.98px) {
                padding: 0px 70px;
            }

            @media (max-width: 991.98px) {
                padding: 0px 40px;
            }

            @media (max-width: 767.98px) {
                padding: 0px 16px;
            }
        }


    }

    // .our-work__label

    &__label {
        margin-bottom: 14px;
    }

    // .our-work__title

    &__title {
        color: var(--White);
        font-size: 72px;
        font-weight: 700;
        line-height: 108%;
        /* 77.76px */
        margin-bottom: 14px;

        @media (max-width: 767.98px) {
            margin-bottom: 4px;
            font-size: 34px;
            line-height: 118%;
        }
    }

    // .our-work__text

    &__text {
        color: var(--Gray-400);
        font-size: 22px;
        font-weight: 400;
        line-height: 140%;
        /* 30.8px */
        margin-bottom: 60px;

        @media (max-width: 1280.98px) {
            margin-bottom: 40px;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 0;
        }
    }

    // .our-work__buttons

    &__buttons {
        @media (max-width: 767.98px) {
            display: none;
        }
    }

    // .our-work__button-wrapper

    &__button-wrapper {}

    // .our-work__button

    &__button {}

    // .our-work__right

    &__right {
        min-width: 0;

        /* 1226/1780 */
        @media (min-width: 1536.98px) {
            max-width: 1226px;
            flex: 0 1 68.876404%;
        }

        @media (max-width: 1536.98px) {
            max-width: 100%;
        }
    }
}


.our-work-slider {

    // .our-work-slider__swiper

    &__swiper {}

    // .our-work-slider__swiper-wrapper

    &__swiper-wrapper {

        @media (max-width: 537.98px) {
            padding-bottom: 32px;
            margin-bottom: 2px;
        }
    }

    // .our-work-slider__slide

    &__slide {
        display: flex;
        padding: 18px 24px;
        flex-direction: column;
        align-items: center;
        border-radius: 32px;
        background: var(--Secondary-Turquoise-400);

        @media (min-width: 537.98px) {
            width: 531px;
            max-width: 531px;
        }

        max-width: 100%;

        @media (max-width: 767.98px) {
            padding: 18px 14px;
            border-radius: var(--Small) !important;
        }

        &:nth-child(2) {

            background: var(--Other-Green-1-400, #CBE389) !important;
        }

        &:nth-child(3) {

            background: var(--Gray-200, #EFF1F5);
        }

        &:nth-child(4) {

            background: var(--Secondary-Terracotta-300, #FFD4C5);
        }


        @media (min-width: 537.98px) {
            @media (min-width: 1536.98px) {
                &:last-child {
                    margin-right: 140px !important;
                }
            }

            @media (max-width: 1536.98px) {
                &:last-child {
                    margin-right: 70px !important;
                }

                &:first-child {
                    margin-left: 70px !important;
                }
            }

            @media (max-width: 991.98px) {
                &:last-child {
                    margin-right: 40px !important;
                }

                &:first-child {
                    margin-left: 40px !important;
                }
            }

            @media (max-width: 767.98px) {
                &:last-child {
                    margin-right: 16px !important;
                }

                &:first-child {
                    margin-left: 16px !important;
                }
            }
        }

    }
}

.our-work-slider-slide {

    // .our-work-slider-slide__header

    &__header {
        padding: 0px 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 4px;

        @media (max-width: 487.98px) {
            flex-direction: column;
            align-items: start;
            padding: 0px;
        }
    }

    // .our-work-slider-slide__content

    &__content {
        margin-bottom: 20px;

        img {
            max-width: 100%;
            height: auto;
            min-height: 289px;
        }
    }

    // .our-work-slider-slide__bottom

    &__bottom {}

    // .our-work-slider-slide__title

    &__title {
        color: var(--Gray-900);
        font-size: 30px;
        font-weight: 700;
        line-height: 128%;
        /* 38.4px */
        margin-bottom: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; // ограничиваем в 2 строки
        overflow: hidden;
        text-overflow: ellipsis; // добавляет "..."
        white-space: normal;

        @media (max-width: 767.98px) {
            color: var(--Gray-900);
            font-family: "League Spartan";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 28px */
        }
    }

    // .our-work-slider-slide__buttons

    &__buttons {
        display: flex;
        justify-content: end;
    }

    // .our-work-slider-slide__button-wrapper

    &__button-wrapper {}
}

.work-slide-result {

    // .work-slide-result__left

    &__left {
        padding: 2px 0px;
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__params {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--Gray-900);
        font-size: 24px;
        font-weight: 600;
        line-height: 160%;
        /* 38.4px */
    }

    // .work-slide-result__left-result

    &__left-result {

        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--Gray-900);
        font-family: "League Spartan";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 38.4px */
    }

    // .work-slide-result__right

    &__right {
        display: flex;
        padding: 2px 0px;
        align-items: center;
        gap: 14px;
    }

    &__right-label {
        color: var(--Other-Green-2-700);
        font-size: 16px;
        display: flex;
        padding: 2px 8px;
        align-items: center;
        gap: 4px;

        border-radius: 100px;
        background: var(--White, #FFF);
        font-weight: 600;

        line-height: 120%;

        span {
            margin-top: 4px;
        }
    }
}

.reviews-pagination,
.our-work-pagination {
    visibility: hidden;
    height: 0;
    overflow: hidden;

    @media (max-width: 537.98px) {
        visibility: visible;
        position: relative !important;
        height: 8px !important;
        overflow: visible;
        display: flex;
        justify-content: center;
    }
}

.reviews__swiper,
.our-work-slider__swiper {
    .swiper-pagination-bullet {
        width: 12px;
        height: 8px;
        scale: 1;
        opacity: 1 !important;
        margin: 0px 2px !important;
        border-radius: 50px;
        background: var(--Main-Blue-800);

        &-active {
            background: var(--Main-Blue-600);
        }
    }
}




/**********reviews******************/


.reviews {
    border-radius: 0px 0px 60px 60px;
    background-color: var(--Main-Blue-300);
    padding-top: 439px;
    padding-bottom: 120px;
    margin-top: -321px;
    position: relative;
    // .reviews__container
    background-image: url("./assets/images/content_writing/reviews-bg.png");
    background-position: left top 60px;
    background-repeat: no-repeat;

    &::after {
        content: "";
        background-image: url("./assets/images/content_writing/reviews-decor-top.png");
        width: 401.26px;
        height: 436.856px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        left: 65px;

        @media (min-width: 1280.98px) {
            top: 89px;
        }

        @media (max-width: 1280.98px) and (min-width:767.98px) {
            left: 51px;
            bottom: 19px;
        }

        @media (max-width: 767.98px) {
            width: 191px;
            height: 208px;
            left: -6px;
            top: 225px;
        }
    }

    &::before {


        @media (min-width: 1280.98px) {
            top: 535px;
             content: "";
        background-image: url("./assets/images/content_writing/reviews-decor-bottom.png");
        width: 229px;
        z-index: 20;
        height: 249px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        right: 115px;
        }

        
    }

    @media (max-width: 1280.98px) {
        background-image: url("./assets/images/content_writing/reviews-bg-tablet.png");
        padding-bottom: 96px;
        margin-top: -77.5px;
        border-radius: 0 0 32px 32px;
        padding-top: 183px;
    }

    @media (max-width: 767.98px) {
        padding-top: 135px;
        padding-bottom: 60px;
        margin-top: -46.5px;
        border-radius: var(--Middle);
        background-image: url("./assets/images/content_writing/reviews-bg-mobile.png");
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .reviews__label

    &__label {
        position: relative;
        z-index: 10;
        margin-bottom: 14px;
    }

    // .reviews__title

    &__title {
        position: relative;
        z-index: 10;
        max-width: 1044px;
        color: var(--Gray-900);
        text-align: center;
        font-size: 72px;
        font-weight: 700;
        line-height: 108%;
        margin-bottom: 60px;

        @media (max-width: 767.98px) {
            color: var(--Gray-900, #181F35);
            text-align: center;

            /* Headings/H6 */
            font-family: "League Spartan";
            font-size: 34px;
            font-style: normal;
            margin-bottom: 30px;
            font-weight: 700;
            line-height: 118%;
            /* 40.12px */
        }
    }
}

.reviews {

    // .reviews__swiper

    &__swiper {
        @media(max-width: 537.98px) {
            padding: 0px 16px !important;
        }
    }

    // .reviews__sweiper-wrapper

    &__swiper-wrapper {
        display: flex;
        align-items: stretch !important;

        @media (max-width: 537.98px) {
            padding-bottom: 32px !important;
        }
    }

    // .reviews__slide

    &__slide {
        max-width: 531px;
        display: flex;
        width: 531px;
        padding: 32px;
        border-radius: 24px;
        height: auto !important;
        background: #FFF;
        flex-direction: column;

        @media(min-width: 537.98px) {
            &:first-child {
                margin-left: 16px !important;
            }

            &:last-child {
                margin-right: 16px !important;
            }
        }

        @media(min-width: 767.98px) {
            &:first-child {
                margin-left: 40px !important;
            }

            &:last-child {
                margin-right: 40px !important;
            }
        }

        @media (min-width: 1280.98px) {
            &:first-child {
                margin-left: 70px !important;
            }

            &:last-child {
                margin-right: 70px !important;
            }
        }

        @media (min-width: 1536.98px) {
            &:first-child {
                margin-left: 140px !important;
            }

            &:last-child {
                margin-right: 140px !important;
            }
        }

        @media (max-width: 767.98px) {
            padding: 24px 16px;
            border-radius: var(--Small);
        }
    }

    &__buttons {
        padding-top: 60px;
        display: flex;
        margin: 0px auto;
        align-items: center;
        gap: 27px;
        max-width: fit-content;
        justify-content: center;

        @media(max-width: 537.98px) {
            display: none;
        }
    }

}

.reviews-slide {

    // .reviews-slide__user

    &__user {
        padding-bottom: 16px;
        border-bottom: 1px solid var(--Main-Blue-200);
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    // .reviews-slide__text

    &__text {
        color: var(--Gray-700, #4A5578);

        /* Paragraph/Body/Regular */
        font-family: "League Spartan";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 14px;
        margin-top: 16px;

        /* 38.4px */
        @media (max-width: 767.98px) {
            color: var(--Gray-700, #4A5578);

            /* Paragraph/Body/Regular */
            font-family: "League Spartan";
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 30.8px */
        }
    }

    // .reviews-slide__rating

    &__rating {}
}

.reviews-user {

    // .reviews-user__image

    &__image {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    // .reviews-user__content

    &__content {}

    // .reviews-user__name

    &__name {
        color: var(--Gray-900, #181F35);

        /* Headings/H9 */
        font-family: "League Spartan";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 8px;
        line-height: 140%;

        /* 30.8px */
        @media (max-width: 767.98px) {
            color: var(--Gray-900, #181F35);

            /* Headings/H9 */
            font-family: "League Spartan";
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 30.8px */
        }
    }

    // .reviews-user__position

    &__position {
        color: var(--Gray-700, #4A5578);

        /* Paragraph/Body/Regular */
        font-family: "League Spartan";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        /* 30.8px */
        @media (max-width: 767.98px) {
            color: var(--Gray-700, #4A5578);

            /* Label */
            font-family: "League Spartan";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            /* 19.8px */
        }
    }
}

.slider-button {
    display: flex;
    height: 52px;
    padding: 10px;
    width: 52px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all .3s ease-in;

    svg {
        path {
            transition: all .3s ease-in;
        }
    }

    @media(hover: hover) {
        &:hover {
            border-radius: var(--Extra-large, 200px);
            border: 2px solid var(--White, #FFF);
            background: var(--White, #FFF);

            svg {
                path {
                    stroke: #077DFD;
                }
            }
        }
    }

    &:disabled {
        border-radius: var(--Extra-large, 200px);
        border: 2px solid var(--Gray-300, #DCDFEA);
        background: var(--Gray-300, #DCDFEA);
        svg {
            path {
                stroke: var(--White);
            }
        }
    }

    outline: none !important;

    &:focus {
        border-radius: var(--Extra-large, 200px);
        border: 2px solid var(--Main-Blue-600, #077DFD);
        background: var(--White, #FFF);

        svg {
            path {
                stroke: #077DFD;
            }
        }
    }
}

.slider-button-left {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-900, #031D3D);
    background: var(--Main-Blue-900, #031D3D);
}

.slider-button-right {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-600, #077DFD);
    background: var(--Main-Blue-600, #077DFD);
}