@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:700");

:root {
    --scrollbar-width: 15px;

    --White: #FFF;
    --Gray-200: #EFF1F5;
    --Gray-300: #DCDFEA;
    --Gray-500: #7F88A2;
    --Gray-400: #B9C0D4;
    --Gray-700: #4A5578;
    --Gray-900: #181F35;


    --Main-Blue-100: #F6FAFF;
    --Main-Blue-200: #E5F1FF;
    --Main-Blue-300: #C6E1FF;
    --Main-Blue-500: #63AEFF;
    --Main-Blue-600: #077DFD;
    --Main-Blue-700: #0E44B0;
    --Main-Blue-800: #10335F;
    --Main-Blue-900: #031D3D;

    --Other-Green-2-700: #16B364;
    --Other-Green-1-300: #ECFBC3;
    --Secondary-Yellow-400: #FFF6B4;
    --Secondary-Turquoise-300: #DCF6FF;
    --Secondary-Turquoise-400: #AAE9FF;
    --Other-Green-1-400: #CBE389;
    --Secondary-Terracotta-500: #FB936F;
    --Secondary-Turquoise-500: #74D8FA;
    --Small: 12px;
    --Large: 32px;
    --Large-BG: 60px;
    --Middle: 24px;
    --Extra-large: 200px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'League Spartan', sans-serif;
    color: var(--White);
    font-size: 16px;
    line-height: normal;
}

button,
input {
    cursor: pointer;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
    transition: all .3s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.55);
}


/********************/


.wrapper {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--Main-Blue-900);
}

main {
    flex: 1 1 auto;
}

[class*=__container] {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 70px;
}

@media (max-width: 991.98px) {
    [class*=__container] {
        padding: 0 40px;
    }
}

@media (max-width: 767.98px) {
    [class*=__container] {
        padding: 0 16px;
    }
}

.paragraph-body-regular {
    color: var(--Gray-700);
    font-family: "League Spartan";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
}

@media (max-width: 767.98px) {
    .paragraph-body-regular {
        font-size: 19px;
        line-height: 1.4;
    }
}

.label {
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 6px 14px 4px 14px;
    border-radius: var(--Extra-large);
    font-size: 18px;
    display: inline-flex;
    font-weight: 500;
    line-height: 1.1;
}

.label.blue-300 {
    color: var(--Main-Blue-900);
    background: var(--Main-Blue-300);
}

.label.blue-800 {
    color: var(--White);
    background: var(--Main-Blue-800);
}

.label.blue-900 {
    color: var(--White);
    background: var(--Main-Blue-900);
}

.label.gray-900 {
    color: var(--White);
    background: var(--Gray-900);
}

.button-wrapper {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 52px;
}

.button-wrapper-start {
    justify-content: start;
}

@media (max-width: 767.98px) {
    .button-wrapper {
        height: 40px;
        min-height: 40px;
        width: 100% !important;
    }
}

@media (max-width: 487.98px) {
    .button-wrapper {
        width: 100%;
    }

    .button-wrapper-start {
        width: 100%;
        justify-content: center;
    }
}

.button {
    transition: all 0.3s ease-in;
    padding: 10px 8px;
    display: inline-flex;
    height: 52px;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    gap: 8px;
    line-height: 1;
    border: 2px solid transparent;
}

.button:disabled {
    opacity: 0.5;
}

.button:active {
    padding: 8px 6px;
    height: 48px;
}

@media (max-width: 767.98px) {
    .button {
        height: 40px;
        padding: 4px;
        width: 100%;
    }

    .button:active {
        padding: 4px 2px !important;
        height: 36px;
        width: calc(100% - 4px) !important;
    }

    .button-active-fixed:active {
        width: 307px;
    }
}

@media (max-width: 487.98px) {
    .button-active-fixed:active {
        width: calc(100% - 4px);
    }
}

.button__text {
    padding: 7px 10px 3px 10px;
    font-size: 22px;
    transition: color 0.3s ease-in;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

@media (max-width: 767.98px) {
    .button__text {
        font-size: 18px;
    }
}

.button__arrow {
    width: 32px;
    display: flex;
    padding: 4px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: var(--Extra-large);
    height: 32px;
}

@media (max-width: 767.98px) {
    .button__arrow {
        display: none;
    }
}

/**********Primary**********/
.button.main-blue-button {
    border-radius: var(--Extra-large);
    border: 2px solid var(--Main-Blue-600);
    background: var(--Main-Blue-600);
}

.button.main-blue-button .button__text {
    color: var(--White);
}

.button.main-blue-button .button__arrow {
    background: var(--Main-Blue-900);
}

@media (hover: hover) {
    .button.main-blue-button:hover {
        border-color: var(--Main-Blue-500);
        background: var(--Main-Blue-500);
    }
}

.button.main-white-button {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--White);
    background: var(--White);
}

.button.main-white-button .button__text {
    color: var(--Main-Blue-600);
}

.button.main-white-button .button__arrow {
    background: var(--Main-Blue-600);
}

@media (hover: hover) {
    .button.main-white-button:hover {
        border-color: var(--Main-Blue-800);
        background: var(--Main-Blue-800);
    }

    .button.main-white-button:hover .button__text {
        color: var(--White);
    }
}

/* Gray CTA Button Primary */
.button.main-gray-button {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-900);
    background: var(--Main-Blue-900);
    transition: all 0.3s ease-in;
}

.button.main-gray-button .button__text {
    color: var(--White);
}

.button.main-gray-button .button__arrow {
    background: var(--White);
    transition: all 0.3s ease-in;
}

.button.main-gray-button .button__arrow svg path {
    transition: all 0.3s ease-in;
}

@media (hover: hover) {
    .button.main-gray-button:hover {
        border-color: var(--Main-Blue-800);
        background: var(--Main-Blue-800);
    }
}

/**********Gray CTA Button Secondary**********/
.button.main-gray-button.secondary {
    border-radius: var(--Extra-large);
    border: 2px solid var(--Main-Blue-900);
    color: var(--Main-Blue-900);
    background-color: transparent;
}

.button.main-gray-button.secondary .button__text {
    color: var(--Main-Blue-900);
}

.button.main-gray-button.secondary .button__arrow {
    background: var(--Main-Blue-900);
}

@media (hover: hover) {
    .button.main-gray-button.secondary:hover {
        border-color: var(--Main-Blue-900);
        background: var(--Main-Blue-900);
    }

    .button.main-gray-button.secondary:hover .button__text {
        color: var(--White);
    }

    .button.main-gray-button.secondary:hover .button__arrow {
        background-color: var(--White);
    }

    .button.main-gray-button.secondary:hover .button__arrow svg path {
        stroke: var(--Main-Blue-900);
    }

}

.button.main-blue-button.secondary-reverse {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-600, #077DFD);
    background: var(--White, #FFF);
}
.button.main-blue-button.secondary-reverse .button__text {
    color: var(--Main-Blue-600);
}

.button.main-gray-button.secondary-reverse {
    border-radius: var(--Extra-large);
    border: 2px solid var(--White);
    color: var(--Main-Blue-900);
    background-color: transparent;
}

.button.main-gray-button.secondary-reverse .button__text {
    color: var(--White);
}

.button.main-gray-button.secondary-reverse .button__arrow {
    background: var(--White);
}

@media (hover: hover) {
    .button.main-gray-button.secondary-reverse:hover {
        border-color: var(--White);
        background: var(--White);
    }

    .button.main-gray-button.secondary-reverse:hover .button__text {
        color: var(--Main-Blue-900);
    }
}




/********************/

.link-button {
    display: inline-flex;
    height: 40px;
    border-radius: var(--Extra-large);
    background: transparent;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease-in;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
}

.link-button span {
    padding: 4px 10px 0px 10px;
}

.link-button:active {
    padding: 4px 8px !important;
}

.link-dark-button {
    color: var(--Main-Blue-900);
}

.link-dark-button .button__arrow {
    border-radius: 200px;
    background: var(--Main-Blue-900);
    display: flex !important;
}

.link-button-wrapper {
    min-height: 40px !important;
    height: 40px !important;
    width: fit-content !important;
}



/************************/

.slider-button {
    display: flex;
    height: 52px;
    padding: 10px;
    width: 52px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease-in;
    outline: none !important;
}

.slider-button svg path {
    transition: all 0.3s ease-in;
}

@media (hover: hover) {
    .slider-button:hover {
        border-radius: var(--Extra-large, 200px);
        border: 2px solid var(--White, #FFF);
        background: var(--White, #FFF);
    }

    .slider-button:hover svg path {
        stroke: #077DFD;
    }
}

.slider-button:disabled {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Gray-300, #DCDFEA);
    background: var(--Gray-300, #DCDFEA);
}

.slider-button:disabled svg path {
    stroke: var(--White);
}

.slider-button:focus {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-600, #077DFD);
    background: var(--White, #FFF);
}

.slider-button:focus svg path {
    stroke: #077DFD;
}

.slider-button-left {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-900, #031D3D);
    background: var(--Main-Blue-900, #031D3D);
}

.slider-button-right {
    border-radius: var(--Extra-large, 200px);
    border: 2px solid var(--Main-Blue-600, #077DFD);
    background: var(--Main-Blue-600, #077DFD);
}



.reviews-pagination,
.our-work-pagination {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

@media (max-width: 537.98px) {

    .reviews-pagination,
    .our-work-pagination {
        visibility: visible;
        position: relative !important;
        height: 8px !important;
        overflow: visible;
        display: flex;
        justify-content: center;
    }

}

.reviews__swiper .swiper-pagination-bullet,
.our-work-slider__swiper .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    scale: 1;
    opacity: 1 !important;
    margin: 0px 2px !important;
    border-radius: 50px;
    background: var(--Main-Blue-800);
}

.reviews__swiper .swiper-pagination-bullet-active,
.our-work-slider__swiper .swiper-pagination-bullet-active {
    background: var(--Main-Blue-600);
}