


.reviews {
    background-color: var(--Main-Blue-300);
    position: relative;
    background-repeat: no-repeat;
}


.reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__label {
    position: relative;
    z-index: 10;
    margin-bottom: 14px;
}

.reviews__title {
    position: relative;
    z-index: 10;
    max-width: 1044px;
    color: var(--Gray-900);
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 108%;
    margin-bottom: 60px;
}

@media (max-width: 767.98px) {
    .reviews__title {
        color: var(--Gray-900, #181F35);
        text-align: center;
        /* Headings/H6 */
        font-family: "League Spartan";
        font-size: 34px;
        font-style: normal;
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 118%;
        /* 40.12px */
    }
    
}

@media (max-width: 537.98px) {
    .reviews__swiper {
        padding: 0px 16px !important;
    }
}

.reviews__swiper-wrapper {
    display: flex;
    align-items: stretch !important;
}

@media (max-width: 537.98px) {
    .reviews__swiper-wrapper {
        padding-bottom: 32px !important;
    }
}

.reviews__slide {
    max-width: 531px;
    display: flex;
    width: 531px;
    padding: 32px;
    border-radius: 24px;
    height: auto !important;
    background: #FFF;
    flex-direction: column;
}

@media (min-width: 537.98px) {
    .reviews__slide:first-child {
        margin-left: 16px !important;
    }

    .reviews__slide:last-child {
        margin-right: 16px !important;
    }
}

@media (min-width: 767.98px) {
    .reviews__slide:first-child {
        margin-left: 40px !important;
    }

    .reviews__slide:last-child {
        margin-right: 40px !important;
    }
}

@media (min-width: 1280.98px) {
    .reviews__slide:first-child {
        margin-left: 70px !important;
    }

    .reviews__slide:last-child {
        margin-right: 70px !important;
    }
}

@media (min-width: 1536.98px) {
    .reviews__slide:first-child {
        margin-left: 140px !important;
    }

    .reviews__slide:last-child {
        margin-right: 140px !important;
    }
}

@media (max-width: 767.98px) {
    .reviews__slide {
        padding: 24px 16px;
        border-radius: var(--Small);
    }
}

.reviews__buttons {
    padding-top: 60px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    gap: 27px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    justify-content: center;
}

@media (max-width: 537.98px) {
    .reviews__buttons {
        display: none;
    }
}

.reviews-slide__user {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--Main-Blue-200);
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.reviews-slide__text {
    color: var(--Gray-700, #4A5578);
    /* Paragraph/Body/Regular */
    font-family: "League Spartan";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 14px;
    margin-top: 16px;
    /* 38.4px */
}

@media (max-width: 767.98px) {
    .reviews-slide__text {
        color: var(--Gray-700, #4A5578);
        /* Paragraph/Body/Regular */
        font-family: "League Spartan";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 30.8px */
    }
}

.reviews-user__image {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    overflow: hidden;
}

.reviews-user__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.reviews-user__name {
    color: var(--Gray-900, #181F35);
    /* Headings/H9 */
    font-family: "League Spartan";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 140%;
    /* 30.8px */
}

@media (max-width: 767.98px) {
    .reviews-user__name {
        color: var(--Gray-900, #181F35);
        /* Headings/H9 */
        font-family: "League Spartan";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        /* 30.8px */
    }
}

.reviews-user__position {
    color: var(--Gray-700, #4A5578);
    /* Paragraph/Body/Regular */
    font-family: "League Spartan";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 30.8px */
}

@media (max-width: 767.98px) {
    .reviews-user__position {
        color: var(--Gray-700, #4A5578);
        /* Label */
        font-family: "League Spartan";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        /* 19.8px */
    }
}

/*# sourceMappingURL=feedback.css.map */